<!doctype html>
<html lang="en">
	{% include "head" %}

	<body>
		<div class="wrapper">
			<!-- Start your website here -->
		</div>

<<<<<<< HEAD
		{{ "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" | asset_url | script_tag }}
		{{ "plugins.min.js" | asset_url | script_tag }}
		{{ "script.min.js" | asset_url | script_tag }}
=======
>>>>>>> 8a3685f2b36a55d339740d517278f744bb9ddaa2
	</body>
</html>